
@model IEnumerable<TesteAuvo.Data.PrevisaoClima>
@{
    Layout = null;
}
<div id="divResultado">
    <div class="row" style="margin-bottom: 40px;">
        @foreach (var item in Model)
        {
            string diaSemana = item.DataPrevisao.ToString("dddd");

            <div class="col-md-3 col-sm-12">
                <div class="card border-dark mb-3" style="max-width: 300px; box-shadow: 0 12px 8px 0 rgba(0,0,0,0.2); border-radius:20px">
                    <div class="card-header" style="background-color: #343a40; border-top-left-radius:20px; border-top-right-radius:20px">
                        <h4 style="color:aliceblue"><b>@diaSemana</b></h4>
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-title"><b>Min</b>  <span>&#9748;</span></h5>
                        <p class="card-text">@decimal.Parse(Html.DisplayFor(modelItem => item.TemperaturaMaxima).ToHtmlString().Substring(0, 3))&deg;</p>
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-title"><b>Max</b>  <span>&#9728;</span></h5>
                        <p class="card-text">@decimal.Parse(Html.DisplayFor(modelItem => item.TemperaturaMaxima).ToHtmlString().Substring(0, 3))&deg;</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
