<body class="hold-transition sidebar-mini">
    <div class="container-fluid" style="width: auto;">
        <div class="card card-gray card-outline" style=" box-shadow: 0 12px 8px 0 rgba(0,0,0,0.2)">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img src="~/adminlte/img/user7-128x128.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <h3 class="profile-username text-center"><b>Joyce Vieira</b></h3>
                <p class="text-muted text-center">Agente de turismo</p>
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Sobre</b> <a class="float-right" style="color:black">25 anos - Mora no Rio de Janeiro - Formada em turismo</a>
                    </li>
                    <li class="list-group-item">
                        <b>Função</b> <a class="float-right" style="color:black">Fornecer Informações ao seus clientes sobre a previsão do tempo</a>
                    </li>
                    <li class="list-group-item">
                        <b>Contato</b> <a class="float-right" style="color:black">(99) 99999-9999</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>